@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.Contenedor-Modal{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;

    isolation: isolate;
    z-index: 99;

}

.Modal{
    width: 800px;
    height: 500px;
    border-radius: 15px;
    background: #fff;
    
    animation: suave 1s ease-in-out;
    animation-delay: 0ms;
    transform: scale(1.3);
    
}

@keyframes suave {
    0%,50%{
        transform: scale(0.8);
    }
    
    100%{
        transform: scale(1.3);
    }
}

.Salir-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}

.salir{
    
    color: #FB2326;
    transition: 300ms ease-in;
}

.salir:hover{
    color: #FDB53B;
}

.tituloP{
    font-family: 'Titan One', cursive;
    color: #968d7f;
}  

.Informaciones{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.Informaciones img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 3px;
   
}

.Descripcion{
    margin-left: 20px;
}
.Descripcion li{
    margin-top: 20px;
}


.Contenedor-Datos{
    width: 90%;
    margin: 25px auto;
   
}

.Contenedor-Datos h2{
    text-align: center;
}

.Datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Contenedor-Datos h3{
    color: black;
}
.Contenedor-Datos span{
    color: #968d7f;
}

.Contenedor-Datos div{
    text-align: center;
}



@media screen and (max-width: 1045px){

    .Modal{
        width: 700px;
        height: 500px;
        border-radius: 15px;
        background: #fff;
        
        animation: suave 1s ease-in-out;
        animation-delay: 0ms;
        transform: scale(1.3);
    }

    .Modal img{
        width: 150px;
        height: 100px;
    }
    
}

@media screen and (max-width: 920px){

    .Modal{
        width: 600px;
        height: 450px;
        border-radius: 15px;
        background: #fff;
        
        animation: suave 1s ease-in-out;
        animation-delay: 0ms;
        transform: scale(1.3);
    }

    .Modal img{
        width: 150px;
        height: 100px;
    }

    .Contenedor-Datos h3{
        color: black;
        font-size: 13px;
    }

    .Descripcion li{
        margin-top: 20px;
        font-size: 15px;
    }    
    
}

@media screen and (max-width: 780px){

    .Modal{
        width: 500px;
        height: 460px;
        border-radius: 15px;
        background: #fff;
        
        animation: suave 1s ease-in-out;
        animation-delay: 0ms;
        transform: scale(1.3);
    }

    .Modal img{
        width: 150px;
        height: 100px;
    }

    .Contenedor-Datos h3{
        color: black;
        font-size: 13px;
    }

    .Descripcion li{
        margin-top: 20px;
        font-size: 15px;
    }    
    
}

@media screen and (max-width: 650px){

    .Modal{
        width: 400px;
        height: 500px;
        border-radius: 15px;
        background: #fff;
        
        animation: suave 1s ease-in-out;
        animation-delay: 0ms;
        transform: scale(1.3);
    }

    .Modal img{
        width: 150px;
        height: 100px;
    }

    .Contenedor-Datos h3{
        color: black;
        font-size: 10px;
    }

    .Descripcion li{
        margin-top: 20px;
        font-size: 13px;
    }    
    
    
}

 @media screen and (max-width: 490px){

    .tituloP{
        position: relative;
        left: 50px;
        font-size: 20px;
    }

    .salir{
        position: relative;
        right: 50px;
    }

    .Contenedor-Datos{
        *display: none;
    }

    .precio,
    .vendedor,
    .direccion{
        display: none;
    }

    .contacto{
        width: 100%;
        margin: auto;

    }

    .Descripcion-Datos{
        position: relative;
        right: 50px;
    }
    
    .Imagenes{
        position: relative;
        left: 50px;
    }
} 